<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


<!-- 注解驱动 -->

<mvc:annotation-driven/>
<context:component-scan base-package="com"/>
<!--   第一种 默认的 根据beanname找到对应Controller
<bean class ="org.springframework.web.servlet.mvc.support.ControllerBeanNameHandlerMapping"> </bean>

-->

<!-- 第二种  根据简单URL来查找Controller
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/userInfo.do">userController</prop>
			</props>
			
		</property>
	
	
	</bean>
	<bean id="userController"  name ="/user.do" class="com.liu.controller.UserController"></bean>
 -->
 
<!-- 第三种 控制类的类名访问Controller， 访问时类名首字母需要小写 -->
  	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"></bean>
	<bean class="com.liu.controller.UserController"></bean>
<!-- 配置视图解释器 -->
<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
	<!-- 前缀 -->
	<property name="prefix" value = "/view/"></property>
	<!-- 后缀 -->
	<property name="suffix" value = ".jsp"></property>
</bean>

</beans>
